@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --primary-color: #000000;
    --bg-color: #ffffff;
    --main-font: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    background: var(--bg-color);
    line-height: 1.6;
}

h1 {
    color: var(--primary-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
span {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    padding: 80px 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
}

.logo img {
    width: 150px;
    max-width: 130px;
}

.navbar-nav .nav-link.active,
.offcanvas .nav-link.active {
    color: #0d6efd !important;
    font-weight: 500;
}

.nav-link:focus, .nav-link:hover {
    color: #0d6efd;
}

@media (max-width:1440px) {
    /* Header start */


    /* Section-one start */

    /* Footer start */
}

@media (max-width:1199px) {
    /* Header start */

    /* Section-one start */

    /* Footer start */
}

@media (max-width:767px) {
    /* Header start */
    .logo img {
        max-width: 100px;
    }

    /* Section-one start */


    /* Footer start */
}
