<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /webdesign/task-reactjs-website/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /webdesign/task-reactjs-website/index.html [L]
</IfModule>